.App {
  text-align: center;
}

#heading{
  color: teal;
  font-size: 3rem ;
}

#inputContainer{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 width:30vw;
 margin: auto;
 height: 10vh;
 border-radius: 30px 0px 30px 0px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

#temperature, select{
  width: 13em;
  height: 1.7em;
}

#buttonContainer{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button{
  /* width: 10rem; */
  padding: 5px 10px;
  border: 3px solid teal;
  background-color: white;
}

button:hover{
  color: teal;
  font-size: 18px;
  font-weight: 700;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#resultContainer{
  border: 1px solid teal;
  width: 30vw;
  margin: auto;
  margin-top: 30px;
}
#result{
  color: teal;
}

p{
  font-size: 1.5rem;
  font-weight: 500;
  color: teal;
}
